<html>
<head>
  <meta charset="utf-8">

  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Description }}">
  <meta name="author" content="{{ .Author }}">

  {{ if .CSS }}
	  <link rel="stylesheet" href="{{ .CSS }}">
  {{ end }}

  <script src="{{ .JS }}" defer></script>
</head>

<body>
</body>
</html>
